
button{
    font-size:16px;
    width:100px;
    margin:10px;
    color:white;
    padding:15px;
    border-radius:30px;
    border-color: black;
    border-width: 5px;
}
.counterButton {
        background-color:#FF00FF;
    }

    .resetButton{
        background-color:blueviolet;
    }


    .count{
        font-size:50px;
        padding: 20px;
    }

    .totalCount{
        color:blue;
        font-size:120px;
    }
